.collectBackground {
  background-color: #191919;
}
@media screen and (min-width: 1026px) and (max-width: 1069px) {
  .collectBackground {
    .cli-repo-collect-main {
      display: inline;
      .cli-repo-collect-main-img-div {
        width: 100%;
        .cli-repo-collect-main-img {
          width: 36%;
        }
      }
      .cli-repo-collect-main-text-div {
        width: 100% !important;
        .cli-repo-collect-main-text-div-des{
            padding-left: 8rem;
            padding-right: 8rem;
        }
      }
    }
  }
}
