.btn {
  border: 2px solid #000000;
  border-bottom-width: 4px;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.backgroundwhoweare {
  backdrop-filter: blur(5px);
  background-color: rgb(255, 255, 255);
  /* border: 2px solid; */
}

.borderGradient {
  padding: 2px; /* Set padding to make room for rounded corners */
  background: linear-gradient(
    to right,
    #1d1dff9a,
    #1d1dff1e
  ); /* Set the gradient background */
}
