@tailwind base;
@tailwind components;
@tailwind utilities;
@import "toastr";

// @font-face {
//   font-family: 'Neue Regrade';
//   src: url('https://cdn.example.com/fonts/NeueRegrade-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: "Neue Regrade";
  src: url("../../public//font/Neue\ Regrade\ Regular.otf") format("opentype"); /* Specify 'opentype' for OTF */
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Neue Regrade", sans-serif !important;
}

// @media screen and (min-width: 1536px) and (max-width: 1700) {
//   .footerTitle {
//     padding-left: 25rem !important;
//     padding-right: 25rem !important;
//   }

// }

@media screen and (min-width: 1920px) {
  .footerTitle {
    padding-left: 34rem !important;
    padding-right: 34rem !important;
  }
}
.button3d {
  border: 1px solid black;
  box-shadow: 0 2px 0 #000000, 0 5px 15px -4px #000;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.button3d:hover,
.button3d:focus {
  // opacity: 0.9;

  outline: 0;
}

.button3d:active {
  box-shadow: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 12px 24px -6px inset,
    rgba(0, 0, 0, 0.3) 0px 8px 14px -6px inset;
}

.button3dWhite {
  border: 1px solid black;
  box-shadow: 0 2px 0 #000000, 0 5px 15px -4px #000;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.button3dWhite:hover,
.button3dWhite:focus {
  // opacity: 0.9;

  outline: 0;
}

.button3dWhite:active {
  box-shadow: none;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 12px 24px -6px inset,
  //   rgba(0, 0, 0, 0.3) 0px 8px 14px -6px inset;
}

.hero {
  background-image: url("../assets/Grid_BG.png");
}
.dark-background {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.whoweare {
  background-image: url("../assets/Illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.maincard:hover .iconbox {
  background-color: #3335f9 !important;
}

.maincard:hover .descriptionBox {
  color: black;
}

.whoweare {
  @media screen and (min-width: 1440px) {
    height: 80vh !important;
    padding: 12% !important;
  }
}

@media screen and (max-width: 357px) {
  .partnerSlider .slick-list .slick-track .slick-slide div .maincard {
    min-height: 255px !important;
  }
}

.whoweareSlider {
  .slick-slider {
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
        .slick-slide {
          height: 100% !important;
          div {
            height: 100%;
            margin-right: 6%;
            .maincard {
              height: 100%;
            }
          }
        }
      }
    }
    .slick-dots {
      ul {
        .slick-active {
          .dotsC {
            background-color: #000000d2 !important;
          }
        }
      }
    }
  }
}
// .container {
//   position: relative;
//   cursor: pointer;
// }

// .container:hover .content {
//   transform: rotate(10deg);
// }

// .content {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   transition: transform 0.3s;
//   transform-origin: left bottom;
// }

.box {
  flex: 1;
}

.box:hover .content {
  transform: rotate(3deg);
}

.content {
  // padding: 10px; /* Optional: Add padding to content */
  transition: transform 0.3s;
  transform-origin: left bottom;
}

.content:hover {
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .showMore {
    display: none;
    transition: height 1s ease;
  }
  .Box:hover .showMore {
    display: block;
  }
}

.clientsTalking {
  background: url("../assets/homeClientStarBG.svg");
  background-color: #f2f2f2;
}

.clientsTalkingRight {
  .slider-container {
    .slick-slider {
      .slick-dots {
        bottom: 0% !important;
        display: flex !important;
        li {
          margin: 0 2px !important;
          width: 5px !important;
          height: 5px !important;
          button {
            padding: 0 !important;
            width: 5px !important;
            height: 5px !important;
          }
          button:before {
            padding: 0 !important;
            width: 5px !important;
            height: 5px !important;
          }
        }
      }
      .slick-dots li.slick-active button:before {
        opacity: 0.75;
        color: white !important;
      }
      .slick-dots li button:before {
        color: white !important;
      }
    }
  }
}

.messageWrapper::-webkit-scrollbar {
  display: none;
}
.messageWrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatTextArea {
  outline: none;
  // .ant-input-outlined:hover{
  border-color: transparent !important;
  // }
  padding-left: 2px;
  &:focus {
    box-shadow: none;
  }
  &::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
    margin: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */

    border-radius: 20px; /* roundness of the scroll thumb */
    border: 10px solid transparent; /* creates padding around scroll thumb */
  }
}

.partnerSlider {
  .slick-list {
    .slick-track {
      .slick-slide {
        height: 100%;
        div {
          .maincard {
            min-height: 206px;
            @media screen and (max-width: 270px) {
              min-height: 330px !important;
            }
            @media screen and (min-width: 271px) and (max-width: 302px) {
              min-height: 300px !important;
            }
            @media screen and (min-width: 303px) and (max-width: 375px) {
              min-height: 280px !important;
            }
            @media screen and (min-width: 331px) and (max-width: 375px) {
              min-height: 260px !important;
            }
            @media screen and (min-width: 376px) and (max-width: 381px) {
              min-height: 230px !important;
            }
          }
        }
      }
    }
  }
}
.company-wizard {
  background-color: #3335f9;
}
// .chatBoxDownRight1:hover .line1{
//   color: white;
// }

// .chatBoxDownRight1:hover .line1Des{
//   color: #666666;
// }

// client resolution

@media screen and (min-width: 1026px) and (max-width: 1279px) {
  .cf-relso-hero-right {
    height: 52vh !important;
    width: 100% !important;
    margin-left: 0% !important;
    margin-top: 6rem !important;
  }
  .cli-res-hero-gray-bg-1 {
    width: 50% !important;
    right: 29rem !important;
    div{
      .pp{
        font-size: 2.5rem;
      }
    }
  }
  .cli-res-hero-gray-bg-2 {
    width: 50% !important;
    right: 18rem !important;
    bottom: 2.5rem !important;
    div{
      .pp{
        font-size: 2.5rem;
      }
    }
  }
  .cli-res-47-text {
    padding-right: 1rem !important;
  }
  .titleSection {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }
  // .footerTitle{
  //   padding-left: 10rem !important;
  //   padding-right: 10rem !important;
  // }

  .cf-relso-hero-left-star-1 {
    width: 20% !important;
    height: 17% !important;
    top: -6% !important;
  }

  .cf-relso-hero-left-star-2 {
    height: 8% !important;
  }
}

.titleSection {
  @media screen and (min-width: 496px) and (max-width: 603px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media screen and (min-width: 878px) and (max-width: 1010px) {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }
  @media screen and (min-width: 1011px) and (max-width: 1025px) {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }
  @media screen and (min-width: 1102px) and (max-width: 1234px) {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
  @media screen and (min-width: 1422px) and (max-width: 1535px) {
    padding-left: 28rem !important;
    padding-right: 28rem !important;
  }
  @media screen and (min-width: 1678px) and (max-width: 1699px) {
    padding-left: 28rem !important;
    padding-right: 28rem !important;
  }
  @media screen and (min-width: 1727px) and (max-width: 1808px) {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
  @media screen and (min-width: 2044px) and (max-width: 2150px) {
    padding-left: 28rem !important;
    padding-right: 28rem !important;
  }
  .cli-respo-titleSection-st-1 {
    @media screen and (min-width: 1026px) and (max-width: 1101px) {
      left: 18%;
    }
  }
}

.footerTitle {
  @media screen and (min-width: 1026px) and (max-width: 1133px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

// for all page client ratio 1026 X 1069

@media screen and (min-width: 1026px) and (max-width: 1069px) {
  .cf-relso-hero-left-star-1 {
    right: -1% !important;
    top: 10% !important;
  }
  .cf-relso-hero-left-star-2 {
    right: 10% !important;
    top: 25% !important;
  }
  #chatSectionId {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (min-width: 1026px) and (max-width: 1279px) {
  .cli-respo-who-we-are {
    margin-bottom: 0px;
    .whoweare {
      padding: 19%;
    }
    .cli-respo-who-we-are-st-1 {
      display: none;
    }
    .cli-respo-who-we-are-st-2 {
      display: none;
    }
    .cli-respo-who-we-are-head {
      flex-direction: column !important;
      .cli-respo-who-we-are-head-top {
        min-width: 80% !important;
        .backgroundwhoweare {
          .who-we-are-text {
            font-size: 34px;
          }
        }
      }
      .cli-respo-who-we-are-head-bot {
        min-width: 80% !important;
      }
    }
  }
}

.solutionOverView {
  .learnMoreBtn {
    .button3dWhite {
      @media screen and (min-width: 1026px) and (max-width: 1101px) {
        width: 16%;
      }
    }
  }
}

.subscribe-button {
  @media screen and (min-width: 1026px) and (max-width: 1279px) {
    width: 27% !important;
  }
}

@media screen and (min-width: 1026px) and (max-width: 1200px) {
  .cli-resp-trusted-partner {
    justify-content: center !important;
    gap: 2.5rem;
  }

  .clientsTalk{
    img{
      height: 22rem;
      width: 22rem;
    }
  }

  .cli-respo-titleSection-st-2 {
    right: 20% !important;
  }

  .cli-res-group1-hidden {
    display: none !important;
  }
  .cli-res-group1 {
    display: block !important;
    top: -5% !important;
    right: -3% !important;
  }

  .cli-res-group2-hidden {
    display: none !important;
  }
  .cli-res-group2 {
    display: block !important;
  }

  .cli-res-group3-hidden {
    display: none !important;
  }
  .cli-res-group3 {
    display: block !important;
    right: -13% !important;
    bottom: 57% !important;
  }

  .cli-res-group4-hidden {
    display: none !important;
  }
  .cli-res-group4 {
    display: block !important;
  }

  .cli-res-group5-hidden {
    display: none !important;
  }
  .cli-res-group5 {
    display: block !important;
    right: -34% !important;
  }
  .group-1-svg {
    width: 340px !important;
    height: 360px !important;
  }
  .group-2-svg {
    width: 250px !important;
  }
  .group-3-svg {
    width: 150px !important;
  }
  .group-5-svg {
    width: 490px !important;
  }
  .cli-rep-fill-start {
    display: none !important;
  }
  .cli-rep-fill-start-p {
    display: block !important;
  }
  .line1 {
    color: #ffffff !important;
  }
  .cli-respo-line1-des {
    color: #a9a9a9 !important;
  }
  .cli-res-client-talk {
    flex-direction: column !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    margin-right: 0px !important;
    .clientsTalkingLeft {
      width: 100%;
    }
    .clientsTalkingRight {
      margin-top: 1rem;
      width: 100%;
    }
  }

  .cli-res-showMore-home {
    display: block !important;
  }

  .cli-respo-hero-home-position-img{
    width: 102% !important;
    left: -4% !important;
  }
}
