.right {
  flex: 1;
}


.input-container {
  position: relative;
  overflow: hidden;
}

.input-container input {
  width: 80%;
  border: 1px solid #ccc;
  transition: width 0.5s ease;
}

.input-container .iconDiv {
  width: 80%;
  border: 1px solid #ccc;
  transition: width 0.5s ease;
}

.input-container button {
  width: 20%;
  border: none;
  cursor: pointer;
  transition: width 0.5s ease;
}

.expanded input {
  width: 44px;
  padding: 5px;
}

.expanded .iconDiv {
  width: 12px;
  top: 5px;
  padding: 5px;
}

.expanded button {
  width: 100%;
}

.input-field:focus-visible{
  outline: none;
}

